/* Laptop*/

@media (min-width:1000px) {
    html {
        font-size: var(--laptop-font-size);
    }
    body {
        grid-template-rows: 70px 1fr 70px;
    }

    header {
        height: 70px;        
    }

                .nav-container{        
                    grid-template-columns: 80px 1fr 80px;              
                }
                
                nav {
                   
                    height: 80px;      
                    font-size: var(--laptop-font-size);  
                    z-index: 900 ;            
                }
                .nav-separator {      
                    height: 30%;    
                }

                .logo {
                    height: 50px;
                    
                    object-fit: cover;
                
                    border-radius: 30px;
                }
                .nav-container p{ 
                    text-align: center;
                    transform:rotate(-90deg);
                    font-family: var(--lobster);
                    color: var(--grey200);
                    
                }

    main {
        background-color: var(--grey250);
        height: calc(100vh - 156px);
    
        display: flex;
        flex-direction: column;
        
       
        margin: 0px;
    }

                section img{
                    max-width:60%;
                    max-height: 60%;
                    border-radius: 50%;
                }

                section.home {
                    flex-direction: row;
                    width:100%;
                    
                }
                section.home p{
                    width:40%;
                    overflow: hidden;
                    text-align: left;  
                }


    footer {
        height: 70px;        
        position:unset;
        align-self: end;

    }


    footer a img {
        width: 40px;
        margin: 0 10vw;
        border-radius: 10px;
    }



/* Display product section*/

article {     
    margin: 20px 0px;
}

.item{
   
   display: flex;
   justify-content: center;
   width: 100%;
}

article img {
    width: 325px;
    opacity: 0.9;
}
.price {  
    left:0;  
}
    .img-cc {
        height: 200px;
    }
    
    .img-wc {
        height: 300px;       
        border-radius: 150px;
    }
    
}

/* contact section*/
.form-mail input {
   
    font-size:var(--laptop-font-size); 
 

    height: 25px;
    width: 150px;

    border-radius: 25px;
    margin-top: 10px;
        
}
::placeholder, .form-mail input  {
    font-size: var(--laptop-font-size);
    
}
textarea{
    height:200px;
}