html {
    font-size: var(--mobile-font-size);
    height: 100%;
}

body {
    margin: auto;
    display: grid;
    grid-template-rows: var(--header-height) 1fr var(--footer-height);
    margin: 0
}

h1, h2 {
    font-family: var(--kiwi);
    margin: 0px;
    color: var(--greytext);
    font-size: var(--mobile-font-size);
}

h2 {
    background-color: var(--grey235);
    text-align: center;
    width: 80%;
    align-self: center;
    color: var(--greytext);
    border-radius: 3px;
    box-shadow: var(--shadow);
}

h3 {
    margin: 0px;
    font-family: var(--kiwi);
    font-size: 0.8em;
}

a {
    text-decoration: none;
}

a:visited, a:active, a:link {
    color: inherit;
}