

/* --- Tablets --- */

@media (min-width:550px) {
    html {
        font-size: var(--laptop-font-size);
        height: 100%;
    }
    body {       
        margin:auto;
        max-width: 760px; 
    }
    section.cakes {
        grid-template-columns: 1fr 1fr;
        grid-gap: 5rem;
        }
}

/* --- Laptops --- */

@media (min-width:750px) {
    html {
        font-size: var(--laptop-font-size);
        height: 100%;
    }
    body {
              margin:auto;
              max-width: 1000px; 
    }
    section.cakes {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem;
    }
}

/* --- Small phones -- */

@media (max-width: 319px) {
    .nav-container {
        grid-template-columns: 50px 1fr;
    }
    .logo {
        height: 30px;
        width: 30px;
    }
    nav {
        font-size: 13px;
    }
    footer a img {
        width: 40px;
        border-radius: 10px;
    }
    section.home p {
     font-size: 0.7em;
    }
    section.cakes {
        grid-template-columns: 1fr;
        }
}